NEXT_PUBLIC_API_URL=https://api-gateway.yanatech.co.uk/api
NEXT_PUBLIC_WS_URL=wss://api-gateway.yanatech.co.uk
NEXT_PUBLIC_AUTHENTIK_URL=https://authentik.yanatech.co.uk
NEXT_PUBLIC_AUTHENTIK_CLIENT_ID=yana-stocks
NEXT_PUBLIC_REDIRECT_URI=http://localhost:3000/callback
